.contenido {
  display: grid;
  align-items: flex-start;
  gap: 5rem;
}

@media (min-width: 768px) {
  .contenido {
    grid-template-columns: 3fr 2fr;
  }
}

.carrito {
  padding: 3rem 0;
}

.producto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

@media (min-width:640px){
    .producto{
        grid-template-columns:1fr 2fr ;
    }
}


.producto p {
  margin: 0 0 1rem 0;
}

.producto span {
  font-weight: 700;
  font-size: 2.2rem;
}


.select {
  all: unset;
  border: 1px solid rgb(187, 186, 186);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 90%;
  margin-bottom: 2rem;
}

.producto .nombre {
  font-size: 2rem;
}

.precio {
  font-weight: 700;
  color: var(--black);
}

.subtotal {
  font-size: 2rem;
  color: var(--black);
}

@media (min-width:640px){
    .producto .nombre{
        font-size: 2.7rem;
    }
    .subtotal{
        font-size: 2.6rem;
    }
}
.producto:last-of-type {
  border-bottom: none;
}

.resumen {
  background-color: #f9fafb;
  padding: 3rem;
  border-radius: 1rem;
  position: sticky;
  top: 3rem;
}
.eliminar{
    color: #e63244;
    position: absolute;
    top: 4.8rem;
    right: 0;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media (min-width:640px){
    .eliminar{
        top: 6.5rem;
    }
}

