:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="titulo"] {
  font-weight: 400;
  text-align: center;
  font-size: 5rem;
  color: var(--black);
}

.error-enlace,
.error {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 5rem;
}

.error-enlace {
  font-size: 1.8rem;
  display: block;
  width: 25rem;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #262626;
  color: var(--white);
  transition-property: background;
  transition-duration: 300ms;
}

.error-enlace:hover {
  background-color: var(--primary);
}
